__pycache__
*egg-info

.env
.idea
.vscode
.DS_store

import/*
!import/.gitkeep
dev_import.ini
/node_modules/
/static/js/*
/static/third_party/css/
/static/third_party/js/
/build/
/stack-compose.yml
/coverage/
