__pycache__
*egg-info

.idea
.vscode
.DS_store

import/*
!import/.gitkeep
dev_import.ini
/node_modules/
/static/js/*
/static/third_party/css/
/static/third_party/js/
/build/
/docker-compose.yml
/coverage/
/medex_client/src/typia/
/medex_client/tsconfig.app.tsbuildinfo
/medex_client/tsconfig.node.tsbuildinfo
/medex_client/coverage/
