version: '3.6'
services:
  medex:
    image: medex
    container_name: medex
    build: .
    ports:
      - "127.0.0.1:80:80"
    depends_on: # other containers it needs in order to run
      - database
    environment:
      - EXPRESS_MEDEX_MEDDUSA_URL=http://localhost:3500/result/cases/get
      - PYTHONUNBUFFERED=1
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=example
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=database
    volumes:
      - ./import:/app/import
    restart: always


  database:
    image: postgres
    container_name: database
    ports:
      - "127.0.0.1:5428:5432"
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=example
    restart: always

networks:
  express-medex-meddusa-network:
    external: true




