[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
click = "*"
flask = "*"
jinja2 = "*"
plotly = "*"
apscheduler = "*"
waitress = "*"
ipdb = "*"
psycopg2-binary = "*"
statsmodels = "*"
flask_cors = "*"
requests = "*"
scikit-learn = "==0.24.2"
sqlalchemy = "*"
pytest-mock = "*"
register = "*"
alembic = "*"
pydantic = "*"
flask-sqlalchemy = "*"
"backports.weakref" = "*"
"backports.zoneinfo" = "*"

[dev-packages]
pylint = "*"
freezegun = "*"
pytest = "*"
pytest-mock = "*"
pytest-freezegun = "*"

[requires]
python_version = ">=3.7"
