[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
click = "*"
flask = "*"
flask-redis = "*"
jinja2 = "*"
flask-login = "*"
plotly = "*"
pytest = "*"
apscheduler = "*"
waitress = "*"
ipdb = "*"
psycopg2-binary = "*"
statsmodels = "*"
gower = "*"
umap = "*"
flask_cors="*"
requests = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
