[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
numpy = "*"
scipy = "*"
pandas = "*"
joblib = "*"
docopt = "*"
tqdm = "*"
pyyaml = "*"
nltk = "*"
redis = "*"
ipython = "*"
pybind11 = "*"
python-dotenv = "*"
click = "*"
flask = "*"
flask-redis = "*"
sklearn = "*"
seaborn = "*"
matplotlib = "*"
jinja2 = "*"
flask-login = "*"
passlib = "*"
plotly = "*"
pytest = "*"
apscheduler = "*"
waitress = "*"
ipdb = "*"
sqlalchemy = "*"


[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"

[packages.misc]
git = "https://bitbucket.org/bmmalone/misc.git"

[packages.autosklearn]
ref = "development"
git = "https://github.com/automl/auto-sklearn.git"
