<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Research Data Warehouse</title>
        <script type="module" src="{{ url_for('static', filename='js/react_app.js') }}"></script>
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
        <div id="react_app">
        </div>
    </body>
</html>
