{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>


    {# export tables #}
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabletoCSV.js') }}" ></script>

{# end of imports #}

{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}


<form action="" method="POST">

    {{ m.entity_form(id= "categorical_entities",name =all_categorical_entities ,value=entity,d="Categorical entities:") }}

    <!-- Send dictionary with subcategory data to javascript -->
    <script type="text/javascript">
         var cat = {{all_subcategory_entities|safe}};
    </script>

    <div class="tooltips" title="Please select category and next subcategory" >
        <label>Subcategory: </label>
        <select multiple id="subcategory_entities" name="subcategory_entities" class="form-control" ></select>
    </div>

    <div class="form-check mt-4">
        <button type="submit" name="barchart" class="btn btn-outline-info">Plot barchart</button>
    </div>
</form>


<div class="card-body">
    {% if plot %}
    <div class="chart" id="barchart">
            {{plot | safe}}
    </div>
    {% endif %}
</div>


{% endblock %}
