{% extends "layout.html" %}
{% block body %}

<div id="menu">
    {% include 'patient_filter.html' %}
</div>

<script type="module" src="{{ url_for('static', filename='js/basic_stats.js') }}"></script>

<div id="content">
    <div id="error_div">
    </div>
    {# navigation controls #}
    <ul class="nav nav-tabs" id="statistics_tab" role="tablist">
        <li class="nav-item" role="presentation">
             <button class="nav-link active" id="database_link"
                 data-bs-toggle="tab" data-bs-target="#database_tab"
                 type="button" role="tab"
                 aria-selected="true" aria-controls="database_tab"
                 onclick="clear_errors()"
             >
                 Database
             </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="numerical_link"
                data-bs-toggle="tab" data-bs-target="#numerical_tab"
                type="button" role="tab"
                aria-selected="false" aria-controls="numerical_tab"
                onclick="clear_errors()"
            >
                Numerical
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="categorical_link"
                data-bs-toggle="tab" data-bs-target="#categorical_tab"
                type="button" role="tab"
                aria-selected="false" aria-controls="categorical_tab"
                onclick="clear_errors()"
            >
                Categorical
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="date_link"
                data-bs-toggle="tab" data-bs-target="#date_tab"
                type="button" role="tab"
                aria-selected="false" aria-controls="date_tab"
                onclick="clear_errors()"
            >
                Date
            </button>
        </li>
    </ul>

    <div class="tab-content" id="statistics">
        {% include 'basic_stats/database_tab.html' %}
        {% include 'basic_stats/categorical_tab.html' %}
        {% include 'basic_stats/numerical_tab.html' %}
        {% include 'basic_stats/date_tab.html' %}
    </div>
</div>
{% endblock %}