{% extends "layout.html" %}
{% block body %}

<div id="menu">
    {% include 'sidebar.html' %}
</div>


<script src="{{ url_for('static', filename='select2.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dataTables.select.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/setup.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/basic_stats.js') }}"></script>

<div id="content">
    {# navigation controls #}
    <ul class="nav nav-tabs" id="statistics_tab" role="tablist">
        <li class="nav-item">
             <a class="nav-link show active" aria-selected="true"
               id="database_link" data-toggle="tab"
               href="#database_tab" role="tab" aria-controls="database_tab">Database</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="numerical_link" data-toggle="tab"
               href="#numerical_tab" role="tab" aria-controls="numerical_tab">Numerical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="categorical_link" data-toggle="tab"
               href="#categorical_tab" role="tab" aria-controls="categorical_tab">Categorical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="date_link" data-toggle="tab"
               href="#date_tab" role="tab" aria-controls="date_tab">Date</a>
        </li>
    </ul>

    {# tabs content #}
    <div class="tab-content" id="statistics">
        {# each tab in a single file, for readability #}
        {% include 'basic_stats/database_tab.html' %}
        {% include 'basic_stats/categorical_tab.html' %}
        {% include 'basic_stats/numerical_tab.html' %}
        {% include 'basic_stats/date_tab.html' %}
    </div>
</div>
{% endblock %}