{% extends "layout.html" %}
{% block body %}
<form action="" method="POST">
    <div id="menu">
        {% include 'sidebar.html' %}
    </div>
    {# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/select_adapter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/error_and_spinning.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

    {# end of imports #}


    <div id="content">
        <div class="card">
            <div class="card-header" id="settings_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#settings"
                            aria-expanded="true" aria-controls="settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="settings" class="collapse show" aria-labelledby="c_settings_header" data-parent="#accordion">
                <div class="card-body">
                    {% import 'macro_template.html' as m %}

                    {% if error %}
                    {{ m.show_error(error) }}
                    {% endif %}

                    {{ m.entity_form_measurement_multiple(id_multi_measurement="measurement",name=measurement_tuple[0],
                    class="measurement",value=entity,select=measurement,d=measurement_tuple[1],block=measurement_tuple[2]) }}
                    {{ m.entity_form_single(id_single="numeric_entities",class="numeric_entities",name=entities[0],value=entity,
                    select=numeric_entities,d="Numeric entities:") }}
                    {{ m.entity_form_single(id_single= "categorical_entities",class="categorical_entities",name
                    =entities[1],select=categorical_entities,value=entity,d="Group by:") }}

                    <!-- Send dictionary with subcategory data to javascript -->
                    <script type="text/javascript">
                     var cat = {{entities[2]|safe}};

                    </script>
                    <div class="tooltips" title="Please select category and next subcategory">
                        <label>Subcategory: </label>
                        <select style="width: 100%" multiple id="subcategory_entities" class="subcategory_entities"
                                name="subcategory_entities" class="form-control">
                            <option value="Select all">Select all</option>
                            {% for entity in entities[2][categorical_entities] %}
                            <option value="{{ entity }}" {% if entity in subcategory_entities %}selected{% endif %}>{{
                                entity }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <label>Scale</label>
                    <table>
                        <tr>
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="linear" name="how_to_plot"
                                           value="linear"
                                           {% if how_to_plot=="linear" or not how_to_plot %}checked{% endif %}>
                                    <label class="custom-control-label" for="linear">linear</label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="log" name="how_to_plot"
                                           value="log"
                                           {% if how_to_plot=="log" %}checked{% endif %}>
                                    <label class="custom-control-label" for="log">log</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <button id="Result" name="plot_boxplot" class="btn btn-outline-info">Result</button>

                </div>
            </div>

            <div class="card-header" id="results_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                            {% if plot_boxplot %} aria-expanded="true" {% endif %} aria-controls="numeric_results">
                        Results
                    </button>
                </h5>
            </div>
            <div id="numeric_results" class="collapse {% if plot %} show {% endif %}" aria-labelledby="n_results_header"
                 data-parent="#numeric_accordion">
                <div class="card-body">
                    {% if plot %}
                    <div id="box_plot">
                        {{table | safe}}
                        {{plot | safe}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}