{% extends "sidebar.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/clustering_pl.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    {# export tables #}
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabletoCSV.js') }}" ></script>


{# end of imports #}


{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}




<div class="card">
    <div class="card-header" id="settings_header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="settings">
                Settings
            </button>
        </h5>
    </div>
    <div id="settings" class="collapse show "
         aria-labelledby="c_settings_header" data-parent="#accordion">
        <div class="card-body">
            {% import 'macro_template.html' as m %}

            {% if error %}
            {{ m.show_error(error) }}
            {% endif %}


                {{ m.entity_form4(id4= "measurement",name =all_measurement,value=entity,select=measurement,d=name,block=block) }}
                {{ m.entity_form2(id2= "numeric_entities",name =all_numeric_entities,select=numeric_entities,value=entity,d="Numeric entities:") }}

                <button id= "Plot" type="submit" name="cluster" class="btn btn-outline-info">Plot</button>

        </div>
    </div>
</div>
<div class="card-header" id="results_header">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
            {% if measurement %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
            Results
        </button>
    </h5>
</div>
<div id="numeric_results" class="collapse {% if measurement %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
    <div class="card-body">
        {% if plot_data %}
        <div id="cluster" data-plot-series='{{ plot_data }}' data-plot-x="{{ selected_n_entities }}"
             data-plot-y="{{ selected_n_entities }}"></div>
        {% endif %}
        </div>
    <div class="card-body">
        {% if table_data %}
        <a href="{{url_for('download', filename = 'data.csv')}}" id="download" class="btn btn-outline-info">Download</a>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cluster</th>
                <th>Patient count</th>
                <th>Patient percent</th>
                {% for entity in numeric_entities %}
                <th>{{ entity }} (mean value)</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for cluster in table_data.keys() | sort %}
            <tr>
                <td>{{ cluster }}</td>
                <td>{{ table_data[cluster]['patient_count'] }}</td>
                <td>{{ table_data[cluster]['patient_percent'] }}</td>
                {% for entity in numeric_entities %}
                <td>{{ table_data[cluster][entity] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    </div>

{% endblock %}