{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/clustering_pl.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

{# end of imports #}


{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}





<form method="POST">
    {{ m.entity_form2(id2= "numeric_entities",name =all_numeric_entities  ,value=entity,d="Numeric entities:") }}
    <button type="submit" name="cluster" class="btn btn-outline-info">Plot</button>
</form>


<div class="card-body">
    {% if plot_data %}
    <div id="cluster" data-plot-series='{{ plot_data }}' data-plot-x="{{ selected_n_entities }}"
         data-plot-y="{{ selected_n_entities }}"></div>
    {% endif %}

    {% if table_data %}
    <table class="table table-striped">
        <thead>
        <tr>
            <div class="dropdown mt-4 float-right">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="export_button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export table
                </button>
                <div class="dropdown-menu" aria-labelledby="export_button">
                    <a id='export_excel' class="dropdown-item">.xl</a>
                    <a id="export_csv" class="dropdown-item">.csv</a>
                </div>
            </div>
        </tr>
        <tr>
            <th>Cluster</th>
            <th>Patient count</th>
            <th>Patient percent</th>
            {% for entity in selected_n_entities %}
            <th>{{ entity }} (mean value)</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for cluster in table_data.keys() | sort %}
        <tr>
            <td>{{ cluster }}</td>
            <td>{{ table_data[cluster]['patient_count'] }}</td>
            <td>{{ table_data[cluster]['patient_percent'] }}</td>
            {% for entity in selected_n_entities %}
            <td>{{ table_data[cluster][entity] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>


{% endblock %}