{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/clustering_pl.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

    {# export tables #}
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabletoCSV.js') }}" ></script>

{# end of imports #}


{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}




<div class="card">
    <div class="card-header" id="settings_header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="settings">
                Settings
            </button>
        </h5>
    </div>
    <div id="settings" class="collapse {% if not visit or error %} show {% endif %}"
         aria-labelledby="c_settings_header" data-parent="#accordion">
        <div class="card-body">
            {% import 'macro_template.html' as m %}

            {% if error %}
            {{ m.show_error(error) }}
            {% endif %}

            <form method="POST">
                {{ m.entity_form4(id4= "visit",name =all_visit,value=entity,select=visit,d="Visit number:") }}
                {{ m.entity_form2(id2= "numeric_entities",name =all_numeric_entities,select=numeric_entities,value=entity,d="Numeric entities:") }}
                {{ m.entity_form2(id2= "categorical_entities",name =all_categorical_entities,value=entity,select=categorical_entities,d="Group by:") }}

                <button type="submit" name="cluster" class="btn btn-outline-info">Plot</button>
            </form>
        </div>
    </div>
</div>
<div class="card-header" id="results_header">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
            {% if visit %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
            Results
        </button>
    </h5>
</div>
<div id="numeric_results" class="collapse {% if visit %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
    <div class="card-body">
        {% if plot_data %}
        <div id="cluster" data-plot-series='{{ plot_data }}' data-plot-x="{{ selected_n_entities }}"
             data-plot-y="{{ selected_n_entities }}"></div>
        {% endif %}
        </div>
    <div class="card">
        {% if table_data %}
        <div class="dropdown mt-4 float-right">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="export_button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export table
            </button>
            <div class="dropdown-menu" aria-labelledby="export_button">
                <a id='export_excel'  class="dropdown-item">.xl</a>
                <a id="export_csv" class="dropdown-item">.csv</a>
            </div>
        </div>
        <div id="table" style="display:none"> {{table|safe}}; </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cluster</th>
                <th>Patient count</th>
                <th>Patient percent</th>
                {% for entity in selected_n_entities %}
                <th>{{ entity }} (mean value)</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for cluster in table_data.keys() | sort %}
            <tr>
                <td>{{ cluster }}</td>
                <td>{{ table_data[cluster]['patient_count'] }}</td>
                <td>{{ table_data[cluster]['patient_percent'] }}</td>
                {% for entity in selected_n_entities %}
                <td>{{ table_data[cluster][entity] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    </div>

{% endblock %}