{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/coplots.js') }}"></script>
<script src="{{ url_for('static', filename='highcharts.js') }}"></script>
<form action="" method="POST">
 <div class="form-group" id="coplot_controls">

		{% if error %}
			<div class="alert alert-danger mt-2" role="alert">
				<div class="row">
					<div class="col col-xs-10">{{ error }}</div>
					<div class="col col-sm-2"><span class="close" aria-label="Close"> &times;</span></div>
				</div>
			</div>
		{% endif %}

		<label for="x_axis">x axis:</label>
		<select class="custom-select mb-2" name="x_axis" id="x_axis">
				<option {% if not x_axis %} selected {% endif %}>Choose entity</option>
		{% for entity in all_numeric_entities %}
				<option value="{{ entity }}" {% if entity == x_axis %}selected{% endif %}>{{ entity }}</option>
		{% endfor %}
		</select>
		<label for="y_axis">y axis:</label>
		<select class="custom-select mb-2" name="y_axis" id="y_axis">
				<option {% if not y_axis %} selected {% endif %}>Choose entity</option>
		{% for entity in all_numeric_entities %}
				<option value="{{ entity }}" {% if entity == y_axis %}selected{% endif %}>{{ entity }}</option>
		{% endfor %}
		</select>
		<label for="category1">Category1:</label>
		<select class="custom-select mb-2" name="category1" id="category1">
				<option {% if not category1 %} selected {% endif %}>Choose entity</option>
		{% for entity in categorical_entities %}
				<option value="{{ entity }}" {% if entity == category1 %}selected{% endif %}>{{ entity }}</option>
		{% endfor %}
		</select>
		<label for="category2">Category2:</label>
		<select class="custom-select mb-4" name="category2" id="category2">
				<option {% if not category2 %} selected {% endif %}>Choose entity</option>
		{% for entity in categorical_entities %}
				<option value="{{ entity }}" {% if entity == category2 %}selected{% endif %}>{{ entity }}</option>
		{% endfor %}
		</select>

		{# select scale #}
		<div class="form-check mt-4">
			<input class="form-check-input" type="checkbox" value="true" id="select_scale" name="select_scale"
				{% if select_scale %} checked {% endif %}>
			<label class="form-check-label" for="select_scale">Select plots scale</label>
		</div>

	 <div class="row ml-2 {% if not select_scale %}d-none {% endif %}" id="scale_values">
            <div class="list-group col-sm-6" id="x_axis_filter">
              <div class="list-group-item">
                <h4 class="list-item-heading">X Axis Scale</h4>
                <div class="list-group-item-text">
                  <div class="row">
                    <div class="col-sm-4">
                      <label class="mt-2" for="x_axis_min">Min value:</label><br>
                      <label class="mt-2" for="x_axis_max">Max value:</label>
                    </div>
                    <div class="col-sm-8">
                      <input class="form-control input-sm mt-1" type="number" name="x_axis_min" id="x_axis_min"
                         value="{% if select_scale %}{{ x_min }}{% else %}0{% endif %}">
                      <input class="form-control input-sm" type="number" name="x_axis_max" id="x_axis_max"
                         value="{% if selected_scale %}{{ x_max }}{% else %}0{% endif %}">
                    </div>
                  </div>
                </div>
              </div>
						</div>
            <div class="list-group col-sm-6" id="y_axis_filter">
              <div class="list-group-item">
              <h4 class="list-item-heading">Y Axis Scale</h4>
                <div class="list-group-item-text">
                  <div class="row">
                    <div class="col-sm-4">
                      <label class="mt-2" for="y_axis_min">Min value:</label><br>
                      <label class="mt-2" for="y_axis_max">Max value:</label>
                    </div>
                    <div class="col-sm-8">
                      <input class="form-control input-sm mt-1" type="number" name="y_axis_min" id="y_axis_min"
                        value="{% if select_scale %}{{ y_min }}{% else %}0{% endif %}">
                      <input class="form-control input-sm" type="number" name="y_axis_max" id="y_axis_max"
                         value="{% if selected_scale %}{{ y_max }}{% else %}0{% endif %}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
	 </div>

	 <label class="mt-3">Display as one plot/multiple plots?</label>
		<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="single_plot" name="how_to_plot" value="single_plot"
						{% if how_to_plot=="single_plot" %}checked{% endif %}>
				<label class="custom-control-label" for="single_plot">One plot</label>
		</div>
		<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="multiple_plots" name="how_to_plot" value="multiple_plots"
				{% if how_to_plot=="multiple_plots" or not how_to_plot %}checked{% endif %}>
				<label class="custom-control-label" for="multiple_plots">Multiple plots</label>
		</div>
		<button type="submit" name="plot" class="btn btn-outline-info">Plot</button>
	</div>


	{# container for single plot #}
	<div id="coplot" data-plot-series="{{ plot_series }}" data-how-to-plot="{{ how_to_plot }}"
			 data-cat1-values="{{ cat1_values }}" data-cat2-values="{{ cat2_values }}" data-x-min="{{ x_min }}"
			 data-x-max="{{ x_max }}" data-y-min="{{ y_min }}" data-y-max="{{ y_max }}">
	</div>


	{# containers for multiple plots #}
	<div class="container coplot">
	 {% for val1 in cat1_values %}
		<div class="row">
	  {% for val2 in cat2_values %}
			<div id="{{ val1 }}_{{ val2 }}">
			</div>
		{% endfor %}
		</div>
	 {% endfor %}
	</div>
</form>
{% endblock %}