{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/coplots_pl.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='choices.min.css') }}">
    <script src="{{ url_for('static', filename='choices.min.js') }}"></script>


    {# range slider #}
	<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

{# end of imports #}


{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}


<form action="" method="POST">
 <div class="form-group" id="coplot_controls">
	 {{ m.entity_form(id= "x_axis",name =all_numeric_entities,value=entity,select=x_axis,d="x axis:") }}
	 {{ m.entity_form(id= "y_axis",name =all_numeric_entities,value=entity,select=y_axis,d="y axis:") }}
	 {{ m.entity_form(id= "category1",name =categorical_entities ,value=entity,select=category1,d="Category1:") }}
	 {{ m.entity_form(id= "category2",name =categorical_entities ,value=entity,select=category2,d="Category2:") }}
	 <label class="mt-3">Display as one plot/multiple plots?</label>
		<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="single_plot" name="how_to_plot" value="single_plot"
						{% if how_to_plot=="single_plot" %}checked{% endif %}>
				<label class="custom-control-label" for="single_plot">One plot</label>
		</div>
		<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="multiple_plots" name="how_to_plot" value="multiple_plots"
					{% if how_to_plot=="multiple_plots" or not how_to_plot %}checked{% endif %}>
				<label class="custom-control-label" for="multiple_plots">Multiple plots</label>
		</div>

		<button type="submit" name="coplot" class="btn btn-outline-info">Plot</button>
	</div>
</form>

{% if plot_series %}
<div id="coplot" data-plot-series="{{ plot_series }}" data-plot-series2="{{ plot_series2 }}" data-layout="{{ layout }}" data-plot-x="{{ x_axis }}" data-plot-y="{{ y_axis }}" data-how-to-plot="{{ how_to_plot }}"></div>
{% endif %}



{% endblock %}