{% extends "layout.html" %}
{% block body %}

<script type="module" src="{{ url_for('static', filename='js/setup.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/table_browser.js') }}"></script>

<div id="menu">
    {% include 'sidebar.html' %}
</div>

{# imports #}
{# our own js #}
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
<script src="{{ url_for('static', filename='js/error_and_spinning.js') }}"></script>

{# plotly and jquery #}
<script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

{# pretty multiselect inputs #}
<link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
<script src="{{ url_for('static', filename='select2.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dataTables.select.min.js') }}"></script>
{# end of imports #}

<div id="content">
    <div class="card">
        <div class="card-header" id="settings_header">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#settings"
                        aria-expanded="true" aria-controls="settings">
                    Settings
                </button>
            </h5>
        </div>
        <div id="settings" class="collapse show "
             aria-labelledby="c_settings_header" data-parent="#accordion">
            <div class="card-body">
                <div id="measurement_div"></div>
                <label for="table_browser_entities_select">Entities:</label>
                <select id="table_browser_entities_select" name="entities" multiple style="width: 100%" class="js-example-basic-single"
                        data-entity-types="String,Double,Date"
                >
                </select>
                <div class="form-group">
                    <label>Table: </label>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="long" name="what_table" value="long" checked="checked">
                        <label class="custom-control-label" for="long">long format</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="short" name="what_table" value="short">
                        <label class="custom-control-label" for="short">entities as columns</label>
                    </div>
                </div>

                <button id="Result" name="Result" type="button" class="btn btn-outline-info" onclick="display_table_with_selected_type()"
                >
                    Result
                </button>
            </div>
        </div>
    </div>

    <div class="card-header" id="results_header">
        <h5 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#numeric_results">
                Results
            </button>
        </h5>
    </div>

    <div id="numeric_results" class="collapse show" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
        <div id="csv_download">
        </div>
        <div class="card-body">
            <table id="serverside_table" class="display" width="100%"></table>
        </div>
    </div>
</div>
{% endblock %}
