{% extends "layout.html" %}
{% block body %}

<form  method="POST" enctype="multipart/form-data">
    {% if update_message %}
        <p>{{ update_message }}</p>
    {% endif %}
    <p>Select CSV data file:
        <input type="file" name="csv_file" title="CSV data file">
    </p>
    <p> Select entities data file (category: type):
        <input type="file" name="entities_file" title="Entities file (category: type)">
    </p>
    <input type="submit" value="Import Data">
</form>

{% endblock %}