{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>

    {# export tables #}
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabletoCSV.js') }}" ></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='material.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>




{# end of imports #}


<div class="card">
    <div class="card-header" id="settings_header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="settings">
                Settings
            </button>
        </h5>
    </div>
    <div id="settings" class="collapse {% if not entities or error %} show {% endif %}"
         aria-labelledby="c_settings_header" data-parent="#accordion">
        <div class="card-body">
            {% import 'macro_template.html' as m %}

            {% if error %}
            {{ m.show_error(error) }}
            {% endif %}

            <form action="" method="POST">
                {{ m.entity_form2(id2= "entities",name =all_entities,value=entity,select=entities,d="Entities:") }}
                <label >Table: </label>
                <div class="custom-control custom-radio" >
                    <input type="radio" class="custom-control-input" id="long" name="what_table" value="long"
                           {% if what_table =="long" or not what_table %}checked{% endif %}>
                            <label class="custom-control-label" for="long">long format</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="short" name="what_table" value="short"
                           {% if short  %} checked {% endif %}>
                            <label class="custom-control-label" for="short">entities as columns</label>
                </div>

                {% if not df %}
                <div class="progress-circular">
                  <div class="progress-circular-wrapper">
                    <div class="progress-circular-inner">
                      <div class="progress-circular-left">
                        <div class="progress-circular-spinner"></div>
                      </div>
                      <div class="progress-circular-gap"></div>
                      <div class="progress-circular-right">
                        <div class="progress-circular-spinner"></div>
                      </div>
                    </div>
                  </div>
                </div>
                 {% endif %}
                <button id="Plot" type="submit" name="Result" class="btn btn-outline-info">Result</button>
            </form>
        </div>
    </div>
</div>


<div class="card-header" id="results_header">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
            {% if entities  %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
            Results
        </button>
    </h5>
</div>

<div id="numeric_results" class="collapse {% if entities %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
    <div class="card-body">
        {% if df %}

                    <div class="dropdown mt-4 float-right">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="export_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export table
                </button>
                <div class="dropdown-menu" aria-labelledby="export_button">
                    <a id="export_excel" class="dropdown-item">.xl</a>
                    <a id="export_csv" class="dropdown-item">.csv</a>
                </div>
            </div>
        <div id="table" style="display:none"> {{table|safe}} </div>
        <br>
        <br>
        <br>
            {{df|safe}}

        {% endif %}

        </div>
    </div>
</div>

{% endblock %}