{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

{# end of imports #}


<div class="card">
    <div class="card-header" id="settings_header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="settings">
                Settings
            </button>
        </h5>
    </div>
    <div id="settings" class="collapse show"
         aria-labelledby="c_settings_header" data-parent="#accordion">
        <div class="card-body">
            {% import 'macro_template.html' as m %}

            {% if error %}
            {{ m.show_error(error) }}
            {% endif %}
            <form action="" method="POST">
                {{ m.entity_form4(id4= "measurement",name =all_measurement,value=entity,select=measurement,d=name,block=block) }}
                {{ m.entity_form2(id2= "numeric_entities",name =all_numeric_entities ,value=entity,select=numeric_entities,d="Numeric entities:") }}

                <button id="Plot" type="submit" name="heatmap" class="btn btn-outline-info">Plot</button>
            </form>
        </div>
    </div>
</div>

<div class="card-header" id="results_header">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                {% if measurement %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
            Results
        </button>
    </h5>
</div>
<div id="numeric_results" class="collapse {% if measurement %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
    <div class="card-body">
        {% if plot_series %}
        <div id="heatmap"  data-plot-series="{{ plot_series }}"></div>
        {% endif %}
    </div>
</div>


{% endblock %}

