{% extends "layout.html" %}
{% block body %}

<form action="" method="POST">
    <script type="module" src="{{ url_for('static', filename='js/heatmap.js') }}"></script>

    <div id="menu">
        {% include 'sidebar.html' %}
    </div>
    {# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/select_adapter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/error_and_spinning.js') }}"></script>

    {# pretty multiselect inputs #}
    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

    {# end of imports #}

    <div id="content">
        <div class="card">
            <div class="card-header" id="settings_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#settings"
                            aria-expanded="true" aria-controls="settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="settings" class="collapse show"
                 aria-labelledby="c_settings_header" data-parent="#accordion">
                <div class="card-body">
                    {% import 'macro_template.html' as m %}

                    {% if error %}
                    {{ m.show_error(error) }}
                    {% endif %}

                    <div class="form-group">
                        <label for="heatmap_numerical_entities_select">Numeric entities:</label>
                        <select id="heatmap_numerical_entities_select" name="numeric_entities_multiple" multiple style="width: 100%" class="js-example-basic-single"
                                data-entity-types="Double"
                        >
                        </select>
                    </div>

                    <button id="Result" name="heatmap" class="btn btn-outline-info">Result</button>
                </div>
            </div>
        </div>

        <div class="card-header" id="results_header">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                        {% if plot %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
                    Results
                </button>
            </h5>
        </div>
        <div id="numeric_results" class="collapse {% if plot %} show {% endif %}" aria-labelledby="n_results_header"
             data-parent="#numeric_accordion">
            <div class="card-body">
                <div id="heatmap_plot">
                    {{plot | safe}}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

