{% extends "layout.html" %}
{% block body %}

<script type="module" src="{{ url_for('static', filename='js/setup.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/histogram.js') }}"></script>

<div id="menu">
    {% include 'sidebar.html' %}
</div>
{# imports #}
{# our own js #}
<script src="{{ url_for('static', filename='js/error_and_spinning.js') }}"></script>

{# plotly and jquery #}
<script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

{# pretty multiselect inputs #}
<link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
<script src="{{ url_for('static', filename='select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots/histogram.js') }}"></script>

{# end of imports #}

<div id="content">
    <div class="card">
        <div id="page" class="mx-4"></div>

        <div class="card-header" id="settings_header">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#settings"
                        aria-expanded="true" aria-controls="settings">
                    Settings
                </button>
            </h5>
        </div>
        <div id="settings" class="collapse show "
             aria-labelledby="c_settings_header" data-parent="#accordion">
            <div class="card-body">
                <div id="error_histogram">
                </div>
                {% import 'macro_template.html' as m %}

                {{ m.entity_form_measurement_multiple(id_multi_measurement="measurement",name=measurement_tuple[0],
                class="measurement",value=entity,select=measurement,d=measurement_tuple[1],block=measurement_tuple[2]) }}
                <div class="form-group">
                    <label for="histogram_numerical_entities_select">Numeric entities:</label>
                    <select id="histogram_numerical_entities_select" name="numeric_entities" style="width: 100%" class="js-example-basic-single"
                            data-entity-types="Double"
                    >
                    </select>
                </div>
                <div class="form-group">
                    <label for="histogram_categorical_entities_select">Group by:</label>
                    <select id="histogram_categorical_entities_select" name="categorical_entities" style="width: 100%" class="js-example-basic-single"
                            data-entity-types="String"
                    >
                    </select>
                </div>

                <div class="form-group" title="Please select category and next subcategory">
                    <label>Subcategory: </label>
                    <select id="histogram_subcategory_entities" multiple class="subcategory_entities" name="subcategory_entities" style="width: 100%" >
                    </select>
                </div>

                <div class="form-group">
                    <label>Number of bins </label>
                    <input type="text" class="form-control" name="number_of_bins" id="number_of_bins" value="{{ number_of_bins }}">
                </div>

                <button id="Result" name="histogram" class="btn btn-outline-info" onclick="display_histogram_plot()">Result</button>

            </div>
        </div>
    </div>

    <div class="card-header" id="results_header">
        <h5 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                    {% if plot_histogram %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
                Results
            </button>
        </h5>
    </div>
    <div id="numeric_results" class="collapse show" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
        <div id="histogram_svg_download">
        </div>
        <div id="histogram">
        </div>
    </div>
</div>
{% endblock %}