{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{# end of imports #}


{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}



<form action="" method="POST">
    <div class="form-group" >
        <label for="entity">Entity:</label>
        <select class="custom-select" name="entity" id="entity">
            <option {% if not selected_entity %} selected {% endif %}>Choose entity</option>
            {% for entity in numeric_entities %}
            <option value="{{ entity }}" {% if entity == selected_entity %}selected{% endif %}>{{ entity }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="group_by">Group by:</label>
        <select class="custom-select" name="group_by" id="group_by">
            <option {% if not group_by %} selected {% endif %}>Choose entity</option>
            {% for entity in categorical_entities %}
            <option value="{{ entity }}" {% if entity == group_by %}selected{% endif %}>{{ entity }}</option>
            {% endfor %}
        </select>
    </div>
  <label>Number of bins </label><input type="text" class="form-control"
      name="number_of_bins"  id="number_of_bins"
      value="{% if number_of_bins %}{{ number_of_bins }}{% else %}{% endif %}">
    <button type="submit" name="plot_histogram" class="btn btn-outline-info mt-4">Plot histogram</button>
</form>



{% if plot_series %}
<div
     id="histogram_chart"
     data-plot-series="{{ plot_series }}"
     data-min-val="{{ min_val }}"
     data-max-val="{{ max_val }}"
     count="{{ count }}"
     number-of-bins="{{ number_of_bins }}">
</div>
{% endif %}



{% endblock %}