{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>

    {# plotly and jquery #}
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

{# end of imports #}


<div class="card">
    <div class="card-header" id="settings_header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="settings">
                Settings
            </button>
        </h5>
    </div>
    <div id="settings" class="collapse {% if not visit or error %} show {% endif %}"
         aria-labelledby="c_settings_header" data-parent="#accordion">
        <div class="card-body">
            {% import 'macro_template.html' as m %}

            {% if error %}
            {{ m.show_error(error) }}
            {% endif %}
            <form action="" method="POST">
                {{ m.entity_form3(id3= "visit",name =all_visit,value=entity,select=visit,d="Visit number:") }}
                {{ m.entity_form(id= "numeric_entities",name =all_numeric_entities,value=entity,select=numeric_entities,d="Numeric entities:") }}
                {{ m.entity_form(id= "categorical_entities",name =all_categorical_entities,value=entity,select=categorical_entities,d="Group by:") }}


                <!-- Send dictionary with subcategory data to javascript -->
                <script type="text/javascript">
                     var cat = {{all_subcategory_entities|safe}};
                </script>
                <div class="tooltips" title="Please select category and next subcategory" >
                    <label>Subcategory: </label>
                    <select style="width: 100%" multiple id="subcategory_entities" name="subcategory_entities" class="form-control" >
                            <option value="Select all">Select all</option>
                            {% for entity in all_subcategory_entities[categorical_entities] %}
                            <option value="{{ entity }}" {% if entity in subcategory_entities %}selected{% endif %}>{{ entity }}</option>
                            {% endfor %}
                    </select>
                </div>


                <label>Number of bins </label><input type="text" class="form-control"
                  name="number_of_bins"  id="number_of_bins"
                  value="{% if number_of_bins %}{{ number_of_bins }}{% else %}{% endif %}">
                <button type="submit" name="plot_histogram" class="btn btn-outline-info mt-4">Plot histogram</button>
            </form>
        </div>
    </div>
</div>

<div class="card-header" id="results_header">
    <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                {% if visit %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
            Results
        </button>
    </h5>
</div>
<div id="numeric_results" class="collapse {% if visit %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
    <div class="card-body">
        {% if plot %}
        <div id="histogram" >
            {{plot | safe}}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}