<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research Data Warehouse</title>
    <script type="module" src="{{ url_for('static', filename='js/layout.js') }}"></script>

    <script>
        window.table_browser_data_selected_entities = [];
        window.selected_numerical_entities = [];
        window.basic_stats_selected_date_entities = [];
    </script>
</head>
<body>
<div id="page" class="mx-4" style="display: none">
    <nav id="nav_bar" class="navbar navbar-light bg-light">
        <ul class="nav nav-pills mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/tutorial/" id="tutorial_nav">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/filtered_data/" id="table_browser_nav">Table browser</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/basic_stats/" id="basic_stats_nav">Basic Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scatter_plot/" id="scatter_plot_nav">Scatter plot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/barchart/" id="barchart_nav">Barchart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/histogram/" id="histogram_nav">Histogram</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/boxplot/" id="boxplot_nav">Boxplot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/heatmap/" id="heatmap_nav">Heatmap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/" id="logout_nav">Logout</a>
            </li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</div>

</body>
</html>
