<!-- error -->
{% macro show_error(error) %}
<div class="alert alert-danger mt-2" role="alert">
    <div class="row">
        <div class="col col-xs-10">{{ error }}</div>
        <div class="col col-sm-2"><span class="close" aria-label="Close"> &times;</span></div>
    </div>
</div>
{%- endmacro %}

<!-- multiple selector entity -->
{%- macro entity_form_multiple(id_multiple,name,class,value,select,d) %}
<div class="form-group">
    <label for="{{ id_multiple }}">{{ d }}</label>
    <select multiple name="{{ id_multiple }}" id="{{ id_multiple }}" class="{{ class }}" class="form-control"
            style="width: 100%">
        {% for entity in name %}
        <option title="{{ name[entity].description }}" data="{{ name[entity].synonym }}" value="{{ name[entity].key }}"
                {% if select and name[entity].key in select %} selected {% endif %}>{{ name[entity].key }}
        </option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}

<!-- single selector entity -->
{%- macro entity_form_single(id_single,name,class,value,select,d) %}
<div class="form-group">
    <label for="{{ id_single }}">{{ d }}</label>
    <select name="{{ id_single }}" id="{{ id_single }}" class="{{ class }}" class="js-example-basic-single"
            style="width: 100%">
        <option data="" {% if not select %} selected {% endif %}>Search entity</option>
        {% for entity in name %}
        <option title="{{ name[entity].description }}" data="{{ name[entity].synonym }}" value="{{ name[entity].key }}"
                {% if name[entity].key== select %}selected{% endif %}>{{ name[entity].key }}
        </option>
        {% endfor %}

    </select>
</div>
{%- endmacro %}


<!-- multiple selector measurement -->
{%- macro entity_form_measurement_multiple(id_multi_measurement,name,class,value,select,d,block) %}
<div class="form-group" style="display: {{ block }}">
    <label for="{{ id_multi_measurement }}">{{ d }}</label>
    <select multiple name="{{ id_multi_measurement }}" class="{{ class }}" id="{{ id_multi_measurement }}"
            class="form-control" style="width: 100%">
        <option value="Select all">Select all</option>
        {% for entity in name %}
        <option value="{{ entity }}" {% if select and entity in select %}selected{% endif %}>{{ entity }}</option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}

<!-- single selector measurement -->
{%- macro entity_form_single_measurement(id_single_measurement,name,value,select,d,block) %}
<div class="form-group" style="display: {{ block }}">
    <label for="{{ id_single_measurement }}">{{ d }}</label>
    <select name="{{ id_single_measurement }}" id="{{ id_single_measurement }}" class="js-example-basic-single"
            style="width: 100%">
        {% for entity in name %}
        <option value="{{ entity }}" {% if entity== select %}selected{% endif %}>{{ entity }}</option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}
