{% macro show_error(error) %}
  <div class="alert alert-danger mt-2" role="alert">
    <div class="row">
      <div class="col col-xs-10">{{ error }}</div>
      <div class="col col-sm-2"><span class="close" aria-label="Close"> &times;</span></div>
    </div>
  </div>
{%- endmacro %}

<!-- single selector -->
{%- macro entity_form(id,name,value,select,d) %}
    <div class="form-group">
        <label for="{{ id }}">{{ d }}</label>
        <select  name="{{ id }}" id="{{ id }}" style="width: 100%" class="js-example-basic-single" >
            <option {% if not select %} selected {% endif %}>Search entity</option>
            {% for entity in name %}
            <option value="{{ entity }}" {% if entity == select %}selected{% endif %}>{{ entity }}</option>
            {% endfor %}
        </select>
    </div>
{%- endmacro %}


<!-- multiple selector -->
{%- macro entity_form2(id2,name,value,select,d) %}
    <div class="form-group">
        <label for="{{ id2 }}">{{ d }}</label>
        <select multiple name="{{ id2 }}" id="{{ id2 }}" class="form-control" style="width: 100%">
        {% for entity in name %}
            <option value="{{ entity }}" {% if entity in select %}selected{% endif %}>{{ entity }}</option>
         {% endfor %}
        </select>
    </div>
{%- endmacro %}


<!-- multiple selector -->
{%- macro entity_form3(id3,name,value,select,d) %}
    <div class="form-group">
        <label for="{{ id3 }}">{{ d }}</label>
        <select multiple name="{{ id3 }}" id="{{ id3 }}" class="form-control" style="width: 100%">
        <option value="Select all">Select all</option>
        {% for entity in name %}
            <option value="{{ entity }}" {% if entity in select %}selected{% endif %}>{{ entity }}</option>
         {% endfor %}
        </select>
    </div>
{%- endmacro %}
