{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/plots_plotly.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='choices.min.css') }}">
    <script src="{{ url_for('static', filename='choices.min.js') }}"></script>

    {# export tables #}
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabletoCSV.js') }}" ></script>

    {# slider #}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-slider.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-slider.min.js') }}" ></script>
{# end of imports #}

{% if error %}
  <div class="alert alert-danger mt-2" role="alert">
    <div class="row">
      <div class="col col-xs-10">{{ error }}</div>
      <div class="col col-sm-2"><span class="close" aria-label="Close"> &times;</span></div>
    </div>
  </div>
{% endif %}

<form action="" method="POST">
    <div class="form-group">
       <label for="x_axis">x axis:</label>
        <select class="custom-select" name="x_axis" id="x_axis" placeholder="Search entity">
            <option {% if not x_axis %} selected {% endif %}>Choose entity</option>
        {% for entity in all_numeric_entities %}
            <option value="{{ entity }}" {% if entity == x_axis %}selected{% endif %}>{{ entity }}</option>
        {% endfor %}
        </select>
        <label for="y_axis">y axis:</label>
        <select class="custom-select" name="y_axis" id="y_axis" placeholder="Search entity">
            <option {% if not y_axis %} selected {% endif %}>Choose entity</option>
         {% for entity in all_numeric_entities %}
            <option value="{{ entity }}" {% if entity == y_axis %}selected{% endif %}>{{ entity }}</option>
         {% endfor %}
        </select>
        <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="true" id="add_group_by" name="add_group_by"
                   {% if add_group_by %} checked {% endif %}>
            <label class="form-check-label" for="add_group_by">Add grouping by categorical value</label>
        </div>
        <br>
        <div class="col ml-6 {% if not add_group_by %}d-none {% endif %}" id="add_group" type="checkbox" value="true">
            <br>
            <label for="category">Group by</label>
            <select class="custom-select" name="category" id="category">
                <option {% if not category %} selected {% endif %}>Choose entity</option>
                {% for entity in all_categorical_entities %}
                <option value="{{ entity }}" {% if entity == category %}selected{% endif %}>{{ entity }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" name="scatter_plot" class="btn btn-outline-info">Plot data</button>
</form>

{% if plot_series %}
<div id="scatter_plot" data-plot-x="{{ x_axis }}" data-plot-y="{{ y_axis }}"
                data-plot-category="{{ cat_values }}"
                     data-plot-series="{{ plot_series }}"></div>
{% endif %}
{% endblock %}