{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/plots_plotly.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

    {# pretty multiselect inputs #}
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>


    {# export tables #}
    <script type="text/javascript" src="{{ url_for('static', filename='table2excel.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabletoCSV.js') }}" ></script>


{# end of imports #}

{% import 'macro_template.html' as m %}

{% if error %}
{{ m.show_error(error) }}
{% endif %}

<form action="" method="POST">
    {{ m.entity_form(id= "x_axis",name =all_numeric_entities,value=entity,select=x_axis,d="x axis:") }}
	{{ m.entity_form(id= "y_axis",name =all_numeric_entities,value=entity,select=y_axis,d="y axis:") }}
        <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="true" id="add_group_by" name="add_group_by"
                   {% if add_group_by %} checked {% endif %}>
            <label class="form-check-label" for="add_group_by">Add grouping by categorical value</label>
        </div>
        <br>
        <div class="col ml-6 {% if not add_group_by %}d-none {% endif %}" id="add_group" type="checkbox" value="true">
            <br>


            <label for="category">Group by</label>
            <select  name="category" id="category" style="width: 100%" class="js-example-basic-single" >
                <option {% if not category %} selected {% endif %}>Search entity</option>
                {% for entity in all_categorical_entities %}
                <option value="{{ entity }}" {% if entity == category %}selected{% endif %}>{{ entity }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-check mt-4">
    <button type="submit" name="scatter_plot" class="btn btn-outline-info">Plot data</button>
    </div>
</form>

{% if plot_series %}
<div id="scatter_plot" data-plot-x="{{ x_axis }}" data-plot-y="{{ y_axis }}"
                data-plot-category="{{ cat_values }}"
                     data-plot-series="{{ plot_series }}"></div>
{% endif %}
{% endblock %}