{% block content %}

<script src="{{ url_for('static', filename='js/subcategories.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>


{# pretty multiselect inputs #}
<link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
<script src="{{ url_for('static', filename='select2.min.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='daterangepicker.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daterangepicker.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='ion.rangeSlider.min.css') }}" />
<script src="{{ url_for('static', filename='ion.rangeSlider.min.js') }}" ></script>

{% import 'macro_template.html' as m %}

<div class="card" style="display: {{ date_block }}">
    <div class="card-body">
        <label>Date range</label>
        <script type="text/javascript">
            var start = moment({{date[0]}});
            var end =  moment({{date[1]}});

        </script>
        <input id="Date" name="Date"
               style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    </div>
</div>


<div class="card" style="display: {{ case_display }}">
    <div class="card-body">
        <label>Selected Case ID</label>
        <br>
        <a href="{{url_for('download', filename = 'case_ids.csv')}}" id="download"
           class="btn btn-outline-info">Download</a>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <label>Filter</label>

        {{ m.entity_form_single_measurement(id_single_measurement= "filter_measurement",name =
                    measurement_tuple[0],value=entity,select=measurement_tuple[0][0],d=measurement_tuple[1],block=measurement_tuple[2]) }}

        <div class="form-check mt-4" style="display: none">
            <input class="form-check-input" type="checkbox" title="For large data, it may take longer to display the results
                    (maximum 1 min, if the query takes longer, the query will be killed)" value='true' id="limit_yes"
                   name="limit_yes" {% if limit_offset[2] %} checked {% endif %}>
            <label class="form-check-label" for="limit_yes">Limit selected number to: </label>
            <input style="width: 17%" id="limit" name="limit" title="For large data, it may take longer to display the results
                    (maximum 1 min, if the query takes longer, the query will be killed)" type="text"
                   class="js-input-from"
                   value="{{ limit_offset[0] }}"/>
            offset:
            <input style="width: 17%" id="offset" name="offset" type="text" class="js-input-from"
                   value="{{ limit_offset[1] }}">
        </div>

        <div class="form-check mt-4">
            <input class="form-check-input" type="radio" onclick="filter_check(this)" id="categorical_filter_check"
                   name="categorical_filter_check" value="categorical">
            <label style="margin-right:30px">Categorical</label>

            <input class="form-check-input" type="radio" onclick="filter_check(this)" id="numerical_filter_check"
                   name="categorical_filter_check" value="numerical">
            <label>Numerical</label>
        </div>

        <div id="categorical_filter_check_block" style="display:none">
            <label>Categorical:</label>
            <select id="categorical_filter" name="categorical_filter" style="width: 100%"
                    class="js-example-basic-single">
                <option>Search entity</option>
                {% for entity in entities[1] %}
                <option title="{{ entities[1][entity].description }}"
                        value="{{ entities[1][entity].key }}">{{ entities[1][entity].key }}
                </option>
                {% endfor %}
            </select>
            <br>
            <label>is</label>
            <script type="text/javascript">
                var filter = {{entities[2]|safe}};
            </script>
            <select multiple id="subcategory_filter" name="subcategory_filter" style="width: 100%"
                    class="form-control">
                <option value="Select all">Select all</option>
                {% for entity in entities[2][categorical_filter] %}
                <option value="{{ entity }}" {% if entity in entities[2] %}selected{% endif %}>{{ entity }}</option>
                {% endfor %}
            </select>
            <br><br>
        </div>

        <div style="display:none" id="numerical_filter_check_block">
            {{ m.entity_form_single(id_single="id_numerical_filter",name =entities[0],value=entity,d="Numerical:") }}
            <script type="text/javascript">
                var df = {{df_min_max|safe }};
            </script>
            <div class="range-slider">
                <input type="text" name="my-slider" id="range" class="js-range-slider" value=""/>
            </div>
            <br>
            <div class="extra-controls">
                from <input style="width: 30%" id="input1" type="text" class="js-input-from" value="{{ from_num }}"/>
                to <input style="width: 30%" id="input2" type="text" class="js-input-to" value="{{ to_num }}"/>
            </div>
        </div>
        <br>
        <button id="add_filter" type="button" class="btn btn-outline-info" value="{{ filter_update }}">Add Filter
        </button>
    </div>
</div>


<div id='id_filter_results' class="card" style="display: block ">
    <div class="card-body">
        <label>Filters:</label>
        <button id="clean" type="button" name='clean' value="clean" class="btn btn-outline-info" style="float: right">
            Clear All
        </button>
        <div id="demo">
            {% for key, value in categorical_filter_results.items() %}
            {% set key_list = key.split(';') %}
            <div class='categorical_filter_results'>
                <button type='button' style='width: 100%; word-wrap: break-word; white-space: normal;'
                        class='btn btn-outline-primary text-left' value= '{{ key }}' >
                    <span class='close' onclick='remove_filter(this)'>x </span>
                    in {{key_list[0]}}:<br> {{key_list[1]}} is {{value['value']}}
                </button>
            </div>
            {% endfor %}
        </div>
        <div id="demo2">
            {% for key, value in numerical_filter_results.items() %}
            {% set key_list = key.split(';') %}
            <div class="numerical_filter_results">
                <span onclick='remove_filter(this)' class='close'> x </span>
                <input type="hidden" class="name" value='{{ key }}'/>in {{key_list[0]}}:<br>  {{ key_list[1] }}
                <input type='text' class='range' name='loan_term' data-min="{{ value[2] }}" data-max='{{ value[3] }}'
                       data-from='{{ value[0] }}' data-to='{{ value[1] }}'/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}