{% extends "layout.html" %}
{% block body %}

<div id="menu">
    {% include 'patient_filter.html' %}
</div>

<script type="module" src="{{ url_for('static', filename='js/table_browser.js') }}"></script>

<div id="content">
    <div class="card">
        <div class="card-header" id="settings_header">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#settings"
                        aria-expanded="true" aria-controls="settings">
                    Settings
                </button>
            </h5>
        </div>
        <div id="settings" class="collapse show " aria-labelledby="c_settings_header">
            <div class="card-body">
                <div id="error_div">
                </div>
                <div id="measurement_div"></div>
                <label for="table_browser_entities_select">Entities:</label>
                <select id="table_browser_entities_select" name="entities" multiple style="width: 100%" class="js-example-basic-single">
                </select>
                <div class="form-group">
                    <label>Table: </label>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="long" name="what_table" value="long" checked="checked">
                        <label class="custom-control-label" for="long">long format</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="short" name="what_table" value="short">
                        <label class="custom-control-label" for="short">entities as columns</label>
                    </div>
                </div>

                <button id="Result" name="Result" type="button" class="btn btn-outline-info" onclick="display_results()"
                >
                    Result
                </button>
            </div>
        </div>
    </div>

    <div class="card-header" id="results_header">
        <h5 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#results">
                Results
            </button>
        </h5>
    </div>

    <div id="results" class="collapse show" aria-labelledby="n_results_header">
        <div id="csv_download">
        </div>
        <div class="card-body">
            <table id="serverside_table" class="display" width="100%"></table>
        </div>
    </div>
</div>
{% endblock %}
