<div class="tab-pane fade {% if numeric_tab %}show active{% endif %}"
     id="numeric_tab" role="tabpanel" aria-labelledby="n_settings_header">
    <div id="numeric_accordion">
        {# SETTINGS #}
        <div class="card">
            <div class="card-header" id="n_settings_header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_settings"
                        {% if not selected_n_entities %} aria-expanded="true" {% endif %} aria-controls="numeric_settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="numeric_settings" class="collapse {% if not selected_n_entities or error %} show {% endif %}"
                 aria-labelledby="n_settings_header" data-parent="#numeric_accordion">
                <div class="card-body">
                    <div class="form-group">
                        {% if error %}
                          <div class="alert alert-danger mt-2" role="alert">
                            <div class="row">
                              <div class="col col-xs-10">{{ error }}</div>
                              <div class="col col-sm-2"><span class="close" aria-label="Close"> &times;</span></div>
                            </div>
                          </div>
                        {% endif %}
                        <form method="POST">
                            <label for="numeric_entities">Numeric entities:</label>
                            <select multiple name="numeric_entities" id="numeric_entities" placeholder="Search entity">
                            {% for entity in all_numeric_entities %}
                                <option value="{{ entity.replace('.', '__') }}" name="{{ entity }}" {% if entity in selected_n_entities %}selected{% endif %}>{{ entity }}</option>
                            {% endfor %}
                            </select>
                            <ul class="list-group mb-3" id="selected_entities" data-min-max-values="{{ min_max_values }}">
                            {% if selected_n_entities %}
                                {% for entity in selected_n_entities %}
                                {% set min_value, max_value = selected_min_max[entity] %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col col-sm-4">
                                            <label>{{ entity }}</label>
                                        </div>
                                        <div class="col col-sm-6" data-toggle="tooltip" data-placement="top"
                                            title="[{{ min_max_values[entity]['min'] }},{{ min_max_values[entity]['max'] }}]">
                                            <label class="mr-3 min">{{ min_value }} >=</label>
                                            <input type="text" class="slider" value="" data-slider-min="{{ min_max_values[entity]['min'] }}"
                                                   data-slider-max="{{ min_max_values[entity]['max'] }}"
                                                   data-slider-step="{{ min_max_values[entity]['step'] }}"
                                                   data-slider-value="[{{ min_value }},{{ max_value }}]"
                                                   name="min_max_{{ entity.replace('.', '__') }}"/>
                                            <label class="ml-3 max"><= {{ max_value }}</label>
                                        </div>
                                        <div class="col col-sm-2">
                                            <span class="close" aria-label="Close"> &times;</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                                <div class="row ml-1">
                                    <div class="col-xs-2">
                                        <label for="n_missing_data">Missing data:</label>
                                        <select name="n_missing" class="custom-select" id="n_missing_data">
                                            <option value="drop">Drop</option>
                                            <option value="mean">Mean</option>
                                            <option value="median">Median</option>
                                            <option value="most_frequent">Mode</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2 ml-5">
                                        <label for="radio">Standardize:</label>
                                        <div id="radio">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="n_standardize" class="custom-control-input" id="n_stand_yes" value="yes" checked>
                                                <label class="custom-control-label" for="n_stand_yes">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="n_stand_no" name="n_standardize" value="no" class="custom-control-input">
                                                <label class="custom-control-label" for="n_stand_no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4 ml-1">
                                    <button type="submit" class="btn btn-outline-info" name="cluster_numeric">Cluster</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {# RESULTS #}
        <div class="card">
            <div class="card-header" id="results_header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                        {% if selected_n_entities %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
                        Results
                    </button>
                </h5>
            </div>
            <div id="numeric_results" class="collapse {% if selected_n_entities %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
                <div class="card-body">
                    {% if plot_data %}
                        <div data-plot-series='{{ plot_data }}' data-plot-names='{{ plot_series_names }}'
                             id="cluster_chart_n" data-plot-x="{{ selected_n_entities[0] }}"
                        data-plot-y="{{ selected_n_entities[1] }}"></div>
                    {% endif %}
                    {% if table_data %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <div class="dropdown mt-4 float-right">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="export_button"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export table
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="export_button">
                                            <a id='export_excel' class="dropdown-item">.xl</a>
                                            <a id="export_csv" class="dropdown-item">.csv</a>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <th>Cluster</th>
                                    <th>Patient count</th>
                                    <th>Patient percent</th>
                                    {% for entity in selected_n_entities %}
                                        <th>{{ entity }} (mean value)</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>

                                {% for cluster in table_data.keys() | sort %}
                                <tr>
                                    <td>{{ cluster }}</td>
                                    <td>{{ table_data[cluster]['patient_count'] }}</td>
                                    <td>{{ table_data[cluster]['patient_percent'] }}</td>
                                    {% for entity in selected_n_entities %}
                                        <td>{{ table_data[cluster][entity] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>