{% extends "layout.html" %}
{% block body %}

{# imports #}
    {# our own js #}
    <script src="{{ url_for('static', filename='js/select_adapter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/error_and_spinning.js') }}"></script>

    {# pretty multiselect inputs #}
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

{# end of imports #}

<form action="" method="POST">
<div id="menu" >
    {% include 'sidebar.html' %}
</div>
<div id="content">

{# navigation controls #}
<ul class="nav nav-tabs" id="statistics_tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link {% if numeric_tab %}show active" aria-selected="true"{% endif %} id="numeric_link" data-toggle="tab"
       href="#numeric_tab" role="tab" aria-controls="numeric_tab" >Numerical</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if categorical_tab %}show active" aria-selected="true"{% endif %} id="categorical_link" data-toggle="tab"
       href="#categorical_tab" role="tab" aria-controls="categorical_tab">Categorical</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if date_tab %}show active" aria-selected="true"{% endif %} id="date_link" data-toggle="tab"
       href="#date_tab" role="tab" aria-controls="date_tab">Date</a>
  </li>
</ul>

{# tabs content #}
<div class="tab-content" id="statistics">
    {# each tab in a single file, for readability #}
    {% include 'basic_stats/categorical_tab.html' %}
    {% include 'basic_stats/numeric_tab.html' %}
    {% include 'basic_stats/date_tab.html' %}
</div>
</div>
</form>
{% endblock %}