{# Categorical tab. Using bootstrap classes. The tab container (div#statistics) and navigation links (ul#statistics_tab)
            are defined in basic_stats.html #}

<div class="tab-pane fade {% if categorical_tab %}show active{% endif %}" id="categorical_tab" role="tabpanel" aria-labelledby="c_settings_header">
    <div id="categorical_accordion">
        <div class="card">
            <div class="card-header" id="c_settings_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#categorical_settings"
                        {% if categorical_entities %} aria-expanded="true" {% endif %} aria-controls="categorical_settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="categorical_settings" class="collapse show" aria-labelledby="c_settings_header" data-parent="#categorical_accordion">
                <div class="card-body">
                    {% import 'macro_template.html' as m %}

                    {% if error %}
                    {{ m.show_error(error) }}
                    {% endif %}

                    {{ m.entity_form_measurement_multiple(id_multi_measurement="measurement_categorical",name =all_measurement,class="measurement",value=entity,select=measurement_categorical,d=name,block=block) }}
                    {{ m.entity_form_multiple(id_multiple= "categorical_entities",class="categorical_entities", name =all_categorical_entities ,value=entity,select=categorical_entities,d="Categorical entities:") }}
                    <button id="result_categorical" name="basic_stats_c" class="btn btn-outline-info" class="Plot">Basic Stats</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="results_header">
                  <h5 class="mb-0">
                      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#categorical_results"
                              {% if categorical_entities %} aria-expanded="true" {% endif %} aria-controls="#categorical_results">
                          Results
                      </button>
                </h5>
            </div>
            <div id="categorical_results" class="collapse {% if categorical_entities %} show {% endif %}"
                 aria-labelledby="c_results_header" data-parent="#categorical_accordion">
                <div class="card-body">
                    {% if basic_stats_c %}
                    <a href="{{url_for('download', filename = 'data.csv')}}" id="download" class="btn btn-outline-info">Download</a>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Entity</th>
                                {% if block != 'none' %}<th>{{ measurement_name }}</th>{% endif %}
                                <th>Count</th>
                                <th>Count NaN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in categorical_entities %}
                            {% for m in measurement_categorical %}
                            <tr>
                                {% if basic_stats_c['count'][entity,m] is defined %}
                                <td>{{ entity }}</td>
                                {% if block != 'none' %}<td>{{ m }}</td>{% endif %}
                                <td>{{ basic_stats_c['count'][entity,m]}}</td>
                                <td>{{ basic_stats_c['count NaN'][entity,m] }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>