<div class="tab-pane fade show active" id="database_tab" role="tabpanel"
     aria-labelledby="c_settings_header">
    <div id="database_accordion">
        <div class="card">
            <div id="database_settings" class="collapse show" aria-labelledby="c_settings_header"
                 data-parent="#databse_accordion">
                <div class="card-body">
                    <table id="database_tab_table_id" class="display"></table>
                </div>
            </div>
        </div>
    </div>
</div>