{# Categorical tab. Using bootstrap classes. The tab container (div#statistics) and navigation links (ul#statistics_tab)
are defined in basic_stats.html #}

<script type="module" src="{{ url_for('static', filename='js/basic_stats_date.js') }}"></script>

<div class="tab-pane fade {% if date_tab %}show active{% endif %}" id="date_tab" role="tabpanel"
     aria-labelledby="d_settings_header">
    <div id="date_accordion">
        <div class="card">
            <div class="card-header" id="d_settings_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#date_settings"
                            {% if date_entities %} aria-expanded="true" {% endif %} aria-controls="date_settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="date_settings" class="collapse show" aria-labelledby="d_settings_header"
                 data-parent="#date_accordion">
                <div class="card-body">
                    {% import 'macro_template.html' as m %}

                    {% if error %}
                    {{ m.show_error(error) }}
                    {% endif %}

                    {{ m.entity_form_measurement_multiple(id_multi_measurement="measurement_date",name
                    =measurement_tuple[0],class="measurement",value=entity,select=measurement_date,d=measurement_tuple[1],block=measurement_tuple[2]) }}
                    <div class="form-group">
                        <label for="basic_stats_date_entities_select">Date entities:</label>
                        <select id="basic_stats_date_entities_select" name="date_entities" multiple style="width: 100%" class="js-example-basic-single"
                                data-entity-types="Date"
                        >
                        </select>
                    </div>
                    <button id="Result_date" name="basic_stats_d" class="btn btn-outline-info" >Result</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="results_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#date_results"
                            {% if date_entities %} aria-expanded="true" {% endif %} aria-controls="#date_results">
                        Results
                    </button>
                </h5>
            </div>
            <div id="date_results" class="collapse {% if date_entities %} show {% endif %}"
                 aria-labelledby="d_results_header" data-parent="#date_accordion">
                <div class="card-body">
                    {% if basic_stats_d %}
                    <a href="{{url_for('download', filename = 'basic_stats_data.csv')}}" id="download" class="btn btn-outline-info">Download</a>
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>Entity</th>
                            {% if measurement_tuple[2] != 'none' %}
                            <th>{{ measurement_name }}</th>
                            {% endif %}
                            <th>Count</th>
                            <th>Count NaN</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in date_entities %}
                        {% for m in measurement_date %}
                        <tr>
                            {% if basic_stats_d['count'][entity,m] is defined %}
                            <td>{{ entity }}</td>
                            {% if measurement_tuple[2] != 'none' %}
                            <td>{{ m }}</td>
                            {% endif %}
                            <td>{{ basic_stats_d['count'][entity,m]}}</td>
                            <td>{{ basic_stats_d['count NaN'][entity,m] }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>