{# Numeric tab. Using bootstrap classes. The tab container (div.#statistics) and navigation links (ul#statistics_tab)
            are defined in basic_stats.html. #}
<div class="tab-pane fade {% if numeric_tab %}show active{% endif %}"
     id="numeric_tab" role="tabpanel" aria-labelledby="n_settings_header">
    <div id="numeric_accordion">

        <!-- maybe macro for that -->
        <div class="card">
            <div class="card-header" id="n_settings_header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_settings"
                        {% if not numeric_entities %} aria-expanded="true" {% endif %} aria-controls="numeric_settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="numeric_settings" class="collapse {% if not numeric_entities or error %} show {% endif %}"
                 aria-labelledby="n_settings_header" data-parent="#numeric_accordion">
                <div class="card-body">
                    {% import 'macro_template.html' as m %}

                    {% if error %}
                    {{ m.show_error(error) }}
                    {% endif %}
                    <form action="" method="POST">
                        {{ m.entity_form3(id3= "visit1",name =all_visit,value=entity,select=visit1,d="Number of visit:") }}
                        {{ m.entity_form2(id2= "numeric_entities",name =all_numeric_entities ,value=entity,select=numeric_entities,d="Numeric entities:") }}

                        <label>Include following statistics:</label>
                        <div class="row ml-2">
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="counts" name="counts"
                                checked="{% if basic_stats and 'counts' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="counts">Counts</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="counts NaN" name="counts NaN"
                                checked="{% if basic_stats and 'counts NaN' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="counts NaN">Counts NaN</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="mean" name="mean"
                                checked="{% if basic_stats and 'mean' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="mean">Mean</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="median" name="median"
                                checked="{% if basic_stats and 'median' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="median">Median</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="min" name="min"
                                   checked="{% if basic_stats and 'min' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="min">Min</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="max" name="max"
                                   checked="{% if basic_stats and 'max' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="max">Max</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="std_err" name="std_err"
                                   checked="{% if basic_stats and 'std_err' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="std_err">Std. Error</label>
                            </div>
                            <div class="custom-control custom-checkbox mr-2">
                                <input type="checkbox" class="custom-control-input" id="std_dev" name="std_dev"
                                   checked="{% if basic_stats and 'std_dev' not in basic_stats %}false{% else %}true{% endif %}">
                                <label class="custom-control-label" for="std_dev">Std. Deviation</label>
                            </div>
                        </div>
                        <div class="row ml-1 mt-3">
                            <button type="submit" name="basic_stats" class="btn btn-outline-info">Basic Stats</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- maybe macro for that -->
        <div class="card">
            <div class="card-header" id="results_header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#numeric_results"
                        {% if numeric_entities %} aria-expanded="true" {% endif %} aria-controls="#numeric_results">
                        Results
                    </button>
                </h5>
            </div>
            <div id="numeric_results" class="collapse {% if numeric_entities %} show {% endif %}" aria-labelledby="n_results_header" data-parent="#numeric_accordion">
                <div class="card-body">
                    {% if basic_stats and any_present %}
                        <div class="dropdown mt-4 float-right">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="export_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export table
                            </button>
                            <div class="dropdown-menu" aria-labelledby="export_button">
                                <a id='export_excel' class="dropdown-item">.xl</a>
                                <a id="export_csv" class="dropdown-item">.csv</a>
                            </div>
                        </div>
                        <table class="table table-stripped">
                            <thead>
                                <tr>
                                    <th>Entity</th>
                                    <th>Visit</th>
                                    {% if 'counts' in basic_stats %}<th>Counts</th>{% endif %}
                                    {% if 'counts NaN' in basic_stats %}<th title="Number of patients with missing entity value" >Counts NaN </th>{% endif %}
                                    {% if 'min' in basic_stats %}<th>Min</th>{% endif %}
                                    {% if 'max' in basic_stats %}<th>Max</th>{% endif %}
                                    {% if 'mean' in basic_stats %}<th>Mean</th>{% endif %}
                                    {% if 'median' in basic_stats %}<th>Median</th>{% endif %}
                                    {% if 'std_dev' in basic_stats %}<th>Std. Deviation</th>{% endif %}
                                    {% if 'std_err' in basic_stats %}<th>Std. Error</th>{% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in numeric_entities %}
                                {% for v in visit1 %}
                                <tr>

                                    <td><a href="https://dzhk.de/en/research/data-and-sample-collections/data-catalogue/anamnesis-and-clinical-diagnoses-incl-basic-data-set/">{{ entity }}</a></td>
                                    <td>{{ v }}</td>
                                    {% if 'counts' in basic_stats %}<td>{{ basic_stats['counts'][entity][v] }}</td>{% endif %}
                                    {% if 'counts NaN' in basic_stats %}<td>{{ basic_stats['counts NaN'][entity][v] }}</td>{% endif %}
                                    {% if 'min' in basic_stats %}<td>{{ basic_stats['min'][entity][v] }}</td>{% endif %}
                                    {% if 'max' in basic_stats %}<td>{{ basic_stats['max'][entity][v] }}</td>{% endif %}
                                    {% if 'mean' in basic_stats %}<td>{{ basic_stats['mean'][entity][v] }}</td>{% endif %}
                                    {% if 'median' in basic_stats %}<td>{{ basic_stats['median'][entity][v] }}</td>{% endif %}
                                    {% if 'std_dev' in basic_stats %}<td>{{ basic_stats['std_dev'][entity][v] }}</td>{% endif %}
                                    {% if 'std_err' in basic_stats %}<td>{{ basic_stats['std_err'][entity][v] }}</td>{% endif %}
                                    <tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
</div>
