{# Numeric tab. Using bootstrap classes. The tab container (div.#statistics) and navigation links (ul#statistics_tab)
are defined in basic_stats.html. #}

<div class="tab-pane fade" id="numerical_tab" role="tabpanel"
     aria-labelledby="n_settings_header">
    <div id="numerical_accordion">
        <div class="card">
            <div class="card-header" id="n_settings_header">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#numerical_settings"
                            aria-controls="numerical_settings">
                        Settings
                    </button>
                </h5>
            </div>
            <div id="numerical_settings" class="collapse show"
                 aria-labelledby="n_settings_header" data-parent="#numerical_accordion">
                <div class="card-body">
                    <div id="basic_stats_error_numerical">
                    </div>
                    <div id="basic_stats_measurement_numerical_div"></div>
                    <div class="form-group">
                        <label for="basic_stats_numerical_entities_select">Numeric entities:</label>
                        <select id="basic_stats_numerical_entities_select" name="numerical_entities_multiple" multiple style="width: 100%" class="js-example-basic-single"
                                data-entity-types="Double"
                        >
                        </select>
                    </div>
                    <button id="Result" name="Result" type="button" class="btn btn-outline-info" onclick="basic_stats.display_numerical_results()"
                    >
                        Result
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="results_header">
                    <h5 class="mb-0">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#numerical_results"
                                aria-controls="#numerical_results">
                            Results
                        </button>
                    </h5>
                </div>

                <div id="numerical_results" class="collapse show" aria-labelledby="n_results_header">
                    <div id="basic_stats_numerical_csv_download">
                    </div>
                    <div class="card-body">
                        <table id="numerical_table" class="display" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
